body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background: linear-gradient(135deg, #f5efe7, #e9dccf);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 500px;
  padding: 50px;
  border-radius: 25px;
  text-align: center;

  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);

  box-shadow: 0 20px 60px rgba(0,0,0,0.1),
              0 0 40px rgba(196,154,108,0.3);
}

h1 {
  margin: 0;
  font-size: 40px;
}

.light {
  color: #6d6d6d;
  font-weight: 400;
}

.main {
  color: #7a2e2e;
  font-weight: 700;
}

.subtitle {
  margin: 20px 0;
  color: #8b6f5c;
}

.upload-btn {
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #c49a6c;
  border-radius: 12px;
  color: #7a2e2e;
  cursor: pointer;
  transition: 0.3s;
}

.upload-btn:hover {
  background: #c49a6c;
  color: white;
}

.upload-btn input {
  display: none;
}